<mat-toolbar color="primary" display="flex">
  <mat-toolbar-row>
    <h1>Property Manager 1.0</h1>
    <span class="menu-spacer"></span>
    <div>
      <a mat-button [routerLink]="'/portfolio'" routerLinkActive="active"> Portfolios </a>
    </div>
    <span class="example-spacer"></span>
    
    <div>
      <a mat-button [routerLink]="'/auth/login'" routerLinkActive="active">Login</a>
      <a mat-button [routerLink]="'/auth/register'" routerLinkActive="active"> Register</a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>


<router-outlet></router-outlet>