.container {
  min-height: 100%;
  width: 100%;
}

#propertyDetailsCards{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.label{
  text-transform: uppercase;
  font-size: small;
  color: gray;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}